# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons and Examples folders when downloading from the Asset Library.
/** export-ignore
/addons !export-ignore
/addons/** !export-ignore
/Examples !export-ignore
/Examples/** !export-ignore